:local input {
  display: none;
}

:local label {
  color: var(--clr-text);
  cursor: pointer;
  font-size: .85rem;
  height: 110%;
  position: absolute;
  text-align: center;
  top: -1rem;
  width: 1.1rem;
  z-index: 100;
}

:local label:nth-child(4) { margin-left: 1.2rem; }
:local label:nth-child(6) { margin-left: 2.4rem; }

.themeSwitchContainer {
  align-items: flex-end;
  display: flex;
  gap: 1rem;
}

.title {
  color: var(--clr-text);
  font-size: 1rem;
  text-transform: uppercase;
}

.switchContainer {
  margin-bottom: -.5rem;
  position: relative;
}

.slider {
  background-color: var(--bg-screen);
  border-radius: 25px;
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3.5rem;
}

.slider::before {
  background-color: var(--bg-special-key);
  border-radius: 50%;
  content: "";
  height: 1rem;
  margin-inline: .25rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: all ease .3s;
  width: 1rem;
}

#theme1:checked ~ .slider::before {
  transform: translate(0, -50%);
}

#theme2:checked ~ .slider::before {
  transform: translate(1rem, -50%);
}

#theme3:checked ~ .slider::before {
  transform: translate(2rem, -50%);
}