.display {
  background-color: var(--bg-screen);
  border-radius: 5px;
  color: var(--clr-text);
  font: inherit;
  margin-block: 1.5rem 1rem;
  min-height: 90px;
  padding: .75em;
  text-align: right;
}

.displayValue {
  display: block;
}

.inputValue {
  display: block;
  font-size: 1.5rem;
}