.default {
  background-color: var(--bg-key);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 -5px 0 0 var(--bg-key-shadow);
  color: var(--clr-key);
  cursor: pointer;
  font: inherit;
  padding: .4em 1.5em .4em;
}

.text {
  composes: default;
  background-color: var(--bg-text-key);
  box-shadow: inset 0 -5px 0 0 var(--bg-text-key-shadow);
  color: var(--clr-text-key);
}

.special {
  composes: default;
  background-color: var(--bg-special-key);
  box-shadow: inset 0 -5px 0 0 var(--bg-special-key-shadow);
  color: var(--clr-special-key);
}